<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>transaction details</h2>
      <br>
      <br> Accountid: <%=  transaction._Accountid %>
      <br> Accounttype: <%=transaction.Accounttype%>
      <br> AccountNumber: <%=transaction.AccountNumber%>
      <br> Amount: <%=transaction.Amount%>
      <br> AvailbleBalance: <%=transaction.AvailbleBalance%>
      <br> Categeory: <%=transaction.Categeory %>
      <hr>

      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>