<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="customer/create" class="btn btn-primary new">
        Create a new Transaction
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= transaction.query.length %> transaction.
        <br>
      </p>
      <% for (var i = transaction.query.length-1; i >= 0; i--) {   
        trans = transaction.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> Accountid: <%=  trans._Accountid %>
          <br> Accounttype: <%=trans.Accounttype%>
          <br> AccountNumber: <%=trans.AccountNumber%>
          <br> Amount: <%=trans.Amount%>
          <br> AvailbleBalance: <%=trans.AvailbleBalance%>
          <br> Categeory: <%=trans.Categeory %>

          <hr>
          <a href="/transaction/delete/<%= transaction._Accountid  %>" class="btn btn-danger"> Delete </a>
          <a href="/transaction/details/<%= transaction._Accountid %>" class="btn btn-info"> Details </a>
          <a href="/transaction/edit/<%= transaction._Accountid %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>